<div class="parent-container" fxLayout="column" fxLayoutAlign="space-around center" fxFlex="100">
  <div class="title" fxLayout="column" fxLayoutAlign="space-around center" fxFlex="100">
    <h1>Number Facts</h1>
  </div>
  <div class="value-container">
    <h2>Current Number: {{ value }}</h2>
  </div>
  <div class="button-container" fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100">
    <button mat-raised-button color="primary" (click)="increment()">Increment</button>
    <button mat-raised-button color="warn" (click)="decrement()">Decrement</button>
  </div>
  <div class="facts-container" fxLayout="column" fxLayoutAlign="space-around center" fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100">
      <h2>Facts about {{ value }}:</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100">
      <h3>{{ value }} is an {{ evenOrOdd(value) }} number.</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100">
      <h3>{{ value }} is {{ isPrimeNumber(value) }} a prime number.</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100">
      <h3>{{ squareRoot(value) }} is the square root of {{ value }}.</h3>
    </div>
  </div>
  <div class="button-container" fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100">
    <button mat-raised-button color="primary" (click)="reset()">Reset</button>
    <button mat-raised-button color="primary" (click)="mystery()">  ?  </button>
    <button mat-raised-button color="primary" (click)="random()">Random</button>
  </div>
</div>
<div class="footer" fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100">
  <img class="github-logo" src="/assets/images/GitHub_Logo.png" alt="GitHub logo" />
  <a href="https://github.com/heroiccheddar/Pre-Assessment">GitHub Repo</a>
</div>
